{% load static %}
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Orlando Saraiva do Nascimento Júnior">
        <link rel="stylesheet" href="{% static '/css/style.css' %}">
        <title>Biblioteca</title>
    </head>
    <body>

        <h2>Atualização de livros</h2>
      
        <form action={% url 'core:atualizar' %} novalidate method="POST" enctype="multipart/form-data"></form>
            {% csrf_token %}
            <label for="{{ form.id.id_for_label }}">ID:</label>
            {{ form.id }}
            <br>
            <label for="{{ form.editora.id_for_label }}">Editora:</label>
            {{ form.editora }}
            <br>
            <input type="submit" value="Enviar">
        </form>
      
      </body>
</html>